footer.footer
    .container-footer
        .row-footer
            .footer-col
                .primera
                    h4.etn24 E.T.N°24 D.E.17
                    .descripcion
                        a()
                            | #{totalYears} años guiando a las futuras generaciones, buscando crear mejores personas y asegurando su futuro.
            .footer-col
                .columna-logo
                    img.logo-footer(src="../../public/images/logos/logo1.png")
            .footer-col.footer-redes
                h4 Redes
                .social-links
                    ul.ul-footer
                        li
                            a.facebook(href='https://www.facebook.com/ET-Nº-24-84991834162')
                                i.fab.fa-facebook-f
                        li
                            a.gmail(href='mailto:et24-defbsas@gmail.com')
                                i.fas.fa-envelope
                        li
                            a.ig(href="https://www.instagram.com/proyectoset24/")
                                i.fab.fa-instagram
.inferior
    p.derechos
        | 2021 Copyright © Derechos reservados Escuela Técnica N°24 D.E.17 "Defensa de Buenos Aires"