#op-nav.container-content.ltl-width
  .open-g-nav
    i.fas.fa-bars
  .close-ct
    i.close-btn.fas.fa-times-circle
  #mng.dropdown-nav-links
    a.c-link.nav-link(href="/users/gestion/mensajes") #[i.fas.fa-envelope] Mensajes
    a.c-link.nav-link(href="javascript:void(0)") #[i.fas.fa-newspaper] Agregar Anuncio
    a.c-link.nav-link(href="/users/gestion/proyectos") #[i.fas.fa-tasks] Gestión de Proyectos
    a.c-link.nav-link(href="/users/gestion/usuarios") #[i.fas.fa-users] Gestión de Usuarios
