doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, user-scalable=no")
    title Error 404
    style(type="text/css").
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Montserrat", sans-serif;
      }
      .error-c{
        max-width: 650px;
        width: 100%;
        padding: 1rem;
        text-align: center;
      }
      .error-c img{
        width: 100%;
      }
      .error-c h1{
        font-size: 4rem;
      }
      .error-c p{
        padding: 1rem 0;
      }
      
      @media screen and (max-width: 540px){
        .error-c h1{
          font-size: 2.5rem;
        }
      }
  body
    .error-c
      img(src="/../public/svg/notfound.svg", alt="No se encontró")
      h1 No se econtró
      p Lo sentimos, pero la pagina que esta buscando no existe.
      a(href="/") Ir al Inicio
