extends ./layout.jade
block contenido
  main(data-barba="container" data-barba-namespace="gestion")
    #mng-op.container-content.g-init 
      .cards-container
        include ./partials/gestionNavigation.jade

    
