extends ./layout.jade
block contenido
  main(data-barba="container" data-barba-namespace="login")
    .block
      #container-form.container-form
        .form-container-form.sign-up-container-form
          form.form-form(action='/users/register' method="POST")
            h1.ttl-form Crear Cuenta
            input(type='text' id="name" name="name" placeholder='Usuario')
            input(type='email' id="email" name="email" placeholder='Email' required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,}$")
            input(type='password' id="password" name="password" placeholder='Contraseña' required maxlength=20 minlength=6)
            input(type='password' id="password_confirmation" name="password_confirmation" placeholder='Confirmar contraseña' required maxlength=20 minlength=6)
            button.btn-form(type="submit") Registarse
        .form-container-form.sign-in-container-form
          form.form-form(action='/users/login' method="POST")
            h1.ttl-form Iniciar Sesión
            include ./partials/err_messages.jade
            input(type='email' id="email" name="email" placeholder='Email')
            input(type='password' id="password" name="password" placeholder='Contraseña')
            button.btn-form(type="submit") Iniciar sesión
            a.olvidar-form(href='#') ¿Olvidaste tu contraseña?
        .overlay-container-form
          .overlay-form
            .overlay-panel-form.overlay-left-form
              h1 Bienvenid@ de vuelta!
              p Si ya tienes una cuenta, haz click en el botón de abajo
              button#signIn-form.ghost-form.btn1-form Iniciar Sesión
            .overlay-panel-form.overlay-right-form
              h1 Hola, amig@
              p Si no tienes una cuenta, ¿Qué esperas a crear una?
              button#signUp-form.ghost-form.btn1-form.crearxd Crear Cuenta
      script.
        const btn = document.querySelector('.btn1-form.crearxd');
        console.log(btn);
        btn.addEventListener('transitionstart', () => {
          console.log(document.getElementById('signUp-form'));
          console.log(document.getElementById('signIn-form'));
          console.log(document.getElementById('container-form'));

          const botonCrear = document.getElementById('signUp-form');
          const botonIniciar = document.getElementById('signIn-form');
          const container = document.getElementById('container-form');

          botonCrear.addEventListener('click', () => {
              container.classList.add("right-panel-active-form");
          });

          botonIniciar.addEventListener('click', () => {
              container.classList.remove("right-panel-active-form");
          });
        })