extends ../../layout.jade
block contenido
  main(data-barba="container" data-barba-namespace="news")
    #mng-op.container-content.g-cont
      .cards-container.esp-layout
        .container-content.ttl-width
          h1.p-title Noticias
          .inner
            .cards-container.esp-layout
              .container-content.md-width
                - if ( editNew && typeof(editNew) != 'undefined'){
                  form#edit-news
                    h3.p-title Editar
                    .project
                        input(type="hidden" name="newsId" id="newsId" value="#{editNew.id}")
                        p Titulo :
                        .input-row
                          input.f-el(type="text" name="title" id="title" value="#{editNew.title}" required)
                        p Body: 
                        .input-row 
                          textarea(name="body" id="body" rows="10" required) #{editNew.body}
                        p Extracto: 
                        .input-row 
                          textarea(name="body" id="extract" rows="10") #{editNew.extract}
                        button.btn(type="submit") Enviar
                -}else{
                  h3 That new not exists, search again
                -}
                .messages
        include ../../partials/gestionNavigation.jade
