extends ../layout.jade
block contenido
  main(data-barba="container" data-barba-namespace="projects")
    #mng-op.container-content.g-cont
      .cards-container.esp-layout
        .container-content.ttl-width
          //- h1.p-title Gestión de Proyectos
          .inner
            .cards-container.esp-layout
              .container-content.md-width
                form#create-group
                  h3.p-title Agregar grupo de Proyectos
                  .project
                    p Agregar grupo :
                    .inline-query-c
                      input.f-el(type="text" id="title" name="title" placeholder="Nombre del grupo" required)
                      button.s-el.btn(type="submit") Enviar 
                .messages
                p Grupos Creados :
                .project-grouplist
                  each project in projectGroups
                    include ../templates/projectgroup.jade
              .container-content.md-width.pj-info
                h3.p-title Información del Grupo
                p Nombre del grupo : #[span#group-name.date desconocido]
                p Fecha de creación : #[span#group-date.date desconocido]
                p Proyectos Asociados : #[span#group-pj.date desconocido]
                form#add-project
                  .project
                    p Agregar Proyecto :
                    .inline-query-c
                      input.f-el(type="text" id="p-title" name="p-title" placeholder="Nombre del proyecto" required)
                      button.s-el(type="submit") Enviar 
                button#remove-group(type="button") Eliminar
          .inner.p-lit-c
            p Proyectos Disponibles :
            #project-list
        include ../partials/gestionNavigation.jade
