extends ../../layout.jade
block contenido
  body
    main(data-barba='container' data-barba-namespace='proyextra')
      .title-bi
        h1 Mi Factura Por Favor
      .parent-cartas.container-cartas.container-arriba-cartas
        .div1-cartas  
        .div2-cartas
          .texto-der-cartas
            h2 Mañana juega la SCALONETA
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptate doloremque ipsa impedit veritatis. Voluptate beatae inventore id libero dolorem ut error dolore numquam molestias, et consequatur officiis, impedit reiciendis?
      .parent-cartas.container-cartas.container-abajo-cartas
        .div3-cartas
          .texto-izq-cartas
            h2 El domingo juega Lorenzo INSIGNE
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptate doloremque ipsa impedit veritatis. Voluptate beatae inventore id libero dolorem ut error dolore numquam molestias, et consequatur officiis, impedit reiciendis?
        .div4-cartas
      footer.footer(style="margin-top: 270px")
        .container-footer
          .row-footer
            .footer-col
              .primera
                h4.etn24 E.T.N°24 D.E.17
                .descripcion
                  a()
                    | Más de 70 años guiando a las futuras generaciones, buscando crear mejores personas y asegurando su futuro.
            .footer-col
              .columna1
                h4 Programadores
                ul.ul-footer
                  li
                    a() Gimenéz Lucas Matias
                  li
                    a() Alfonso Dante
                  li
                    a() Lucas González
                  li
                    a() Denis Luna
                  li
                    a() Lucas De La Pina
            .footer-col
              .columna2
                h4 Diseñadores
                ul.ul-footer
                  li
                    a() Sanchéz Germán
                  li
                    a() García Matias
                  li
                    a() Victor Paredes
                  // <li><a href="#"></a></li>
            .footer-col
              .columna3
                h4 Líderes y Documentadores
                ul.ul-footer
                  li
                    a() Santiago Betancort
                  li
                    a() Thiago Montenegro
                  li
                    a() Victor Paredes
                  // <li><a href="#"></a></li>
            .footer-col.footer-redes
              .columna-redes
                h4 Redes
                .social-links
                  ul.ul-footer
                    li
                      a.facebook(href='https://www.facebook.com/ET-Nº-24-84991834162')
                        i.fab.fa-facebook-f
                    li
                      a.gmail(href='mailto:et24-defbsas@gmail.com')
                        i.fab.fa-google-plus-g
                    li
                      a.ig(href="https://www.instagram.com/proyectoset24/")
                        i.fab.fa-instagram
                    li
                      a.discord(href="https://discord.gg/xASe67r")
                        i.fab.fa-discord
      .inferior
        p.derechos
          | 2021 Copyright © Derechos reservados Escuela Técnica N°24 D.E.17 "Defensa de Buenos Aires"
      