extends ../layout.jade
block contenido
  main(data-barba="container" data-barba-namespace="bi")
    .title-bi
      h1 Bachillerato internacional
    .container-content
      .cards-container.esp-layout
        .container-content.hlf-width
          h1.p-title Programa de diploma del Bachillerato Internacional
          p El Programa de Diploma brinda una preparación diferenciada para la educación superior y la vida en una sociedad global. Se encuentra destinado a jóvenes de 16 a 19 años, y consiste en un programa educativo riguroso y equilibrado, con exámenes finales que constituye una excelente preparación para la universidad y la vida adulta. Su mayor fortaleza reside en el abordaje didáctico que plantea a partir de problemas/situaciones concretas, reales y contemporáneas desde donde desarrollar las distintas unidades curriculares de modo integrado.
        .container-content.hlf-width
          img.bi-logo(src="../public/images/logos/BI.png", alt="BI Logo")
      .cards-container.esp-layout
        .container-content.hlf-width
          img.svg(src="../public/svg/certification.svg", alt="alt")
        .container-content.hlf-width
          h1.p-title Certificación Internacional
          p Nuestra escuela, ofrece como propuesta optativa el Programa de Diploma de Bachillerato Internacional, que consiste en una oferta académica de excelencia con Certificación Internacional.
          p El Programa del Diploma prepara a los alumnos para participar eficazmente en una sociedad cada vez más globalizada que evoluciona rápidamente.
      .cards-container.esp-layout
        .container-content.hlf-width  
          h1.p-title Títulos
          p El alumno o la alumna que lleve adelante el BI, y supere las evaluaciones, obtendrá 2 títulos:
          ul  
            li El de Bachillerato (nacional) o Bachillerato Bilingüe 
            li El Diploma del Bachillerato Internacional, de amplio reconocimiento y aceptación en la mayor parte de las universidades europeas y americanas. 
        .container-content.hlf-width
          h1.p-title ¿Cuándo puedo empezar el BI?
          p Está destinado a los alumnos y alumnas de 5to y 6to año e implica la cursada de nueve unidades curriculares que no siempre demandan mayor carga horaria.
    //- .block-bi  
    //-   h2 ¿Qué es la Teoría del Conocimiento?
    //-   p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
