extends ../layout.jade
block contenido
  main(data-barba="container" data-barba-namespace="equipod")
    .title-bi
      h1 Nuestro Equipo Docente
    .container-content.ttl-width
      .equipo-d
        h2 Equipo de Conducción
        hr
        .cards-container
          .cards-equipo
            .cards-equipo-cont
              h3 RECTOR
              .docente
                i(class="fas fa-user-tie")
                p Diego L. Bibian
          .cards-equipo
            .cards-equipo-cont
              h3 VICE-RECTORA
              .docente
                i(class="fas fa-user-tie")
                p Silvia Albarellos
          .cards-equipo
            .cards-equipo-cont
              h3 REGENTE DE CULTURA GENERAL
              .docente
                i(class="fas fa-user-tie")
                p Agueda Di Gregorio
          .cards-equipo
            .cards-equipo-cont
              h3 REGENTE DE CULTURA TÉCNICA
              .docente
                i(class="fas fa-user-tie")
                p Liliana Díaz
              .docente
                i(class="fas fa-user-tie")
                p Gladys V. Prada
          .cards-equipo
            .cards-equipo-cont
              h3 SECRETARIA 
              .docente
                i(class="fas fa-user-tie")
                p Diana del C. Vallejos
          .cards-equipo
            .cards-equipo-cont
              h3 PRO-SECRETARIA
              .docente
                i(class="fas fa-user-tie")
                p Gladys Ottone
              .docente
                i(class="fas fa-user-tie")
                p Monica Meza
              .docente
                i(class="fas fa-user-tie")
                p Liliana Repice
          
          .cards-equipo
            .cards-equipo-cont
              h3 JEFA DE PRECEPTORAS
              .docente
                i(class="fas fa-user-tie")
                p Jimena González (T.T.)
          .cards-equipo
            .cards-equipo-cont
              h3 SUB-JEFE DE PRECEPTORES
              .docente
                i(class="fas fa-user-tie")
                p Lionel F. Puterman (T.N.)
              .docente
                i(class="fas fa-user-tie")
                p Valeria Mariani (T.M.)
      .equipo-d
        h2 Departamentos Docentes
        hr
        .cards-container
          .dept
            h3 Coordinación del Ciclo Superior de Administración y Gestión de las Organizaciones
            .list-dept
              .list-dept-cont
                p#blue Coordinadora
                p Vanesa Trombetta
            .list-dept
              .list-dept-cont
                p#blue Colaborador
                p Claudia Mingrino
          .dept
            h3 Coordinación del Ciclo Superior de Informática profesional y personal en Programación
            .list-dept
              .list-dept-cont
                p#blue Coordinador
                p Oscar Obregón
            .list-dept
              .list-dept-cont
                p#blue Colaborador
                p Carlos O. Mombrú
        .cards-container
          .dept
            h3 Área de Expresión y Comunicación
            .list-dept
              .list-dept-cont
                p#blue Coordinador
                p Soledad Pini
            .list-dept
              .list-dept-cont
                p#blue Colaboradora
                p Lucia Álvarez Di Mauro
          .dept
            h3 Área de Ciencias Exactas y Naturales
            .list-dept
              .list-dept-cont
                p#blue Coordinadora
                p Carina Sinisi
            .list-dept
              .list-dept-cont
                p#blue Colaboradora
                p Maria Lucila Zobra
        .cards-container
          .dept
            h3 Área de Ciencias Sociales
            .list-dept
              .list-dept-cont
                p#blue Coordinador
                p Flavio Scarpa
            .list-dept
              .list-dept-cont
                p#blue Colaboradora
                p María Cecilia Barbero
          .dept
            h3 Área Tecnológica
            .list-dept
              .list-dept-cont
                p#blue Coordinadora
                p Giselle Cespedes
            .list-dept
              .list-dept-cont
                p#blue Colaborador
                p Diego Mallo
        .cards-container
          .dept
            h3 Prácticas Profesionalizantes
            .list-dept
              .list-dept-cont
                p#blue Referente
                p Carina Sinisi
        .cards-container
          .dept
            h3 Tutorías
            .list-dept
              .list-dept-cont
                p#blue Coordinador (Turno Mañana)
                p Claudio Llenolio
            .list-dept
              .list-dept-cont
                p#blue Coordinadora (Turno Tarde)
                p Alicia Gil
            .list-dept
              .list-dept-cont
                p#blue Coordinadora (Turno Noche)
                p Maxi. Carreras
    include ../partials/footer
