extends ../layout.jade
block contenido
    link(rel='stylesheet' href='../public/css/all.min.css')
    body
        main(data-barba='container' data-barba-namespace='proyextra')
            .title-bi
                h1 Idiomas
            .languagesContainer
                .languagesColumn.english
                    h2.languagesTitle
                        img(src="/public/images/icons/united-kingdom.png", alt="Logo de la bandera de Alemania ", srcset="").languagesIcons
                        span Inglés
                        img(src="/public/images/icons/united-states.png", alt="Logo de la bandera de Alemania ", srcset="").languagesIcons
                    p En el transcurso de los años de tu educación secundaria tendrás inglés como materia curricular que se divide en niveles para ajustarse a entendimiento del lenguaje.
                    p En ambas especialidades verás contenido relacionado con la orientación elegida.
                    img(src="/public/images/stock/english.png" style="height: 60%; width:80%; margin-top: 2%")
                .languagesPhoto
                    img(src="/public/images/stock/languages.jpg" alt="" srcset="")
                .languagesColumn.german
                    h2.languagesTitle 
                        img(src="/public/images/icons/germany.png", alt="Logo de la bandera de Alemania ", srcset="").languagesIcons
                        span Alemán
                        img(src="/public/images/icons/germany.png", alt="Logo de la bandera de suiza ", srcset="").languagesIcons
                    p Desde el primer año tenés la posibilidad de inscribirte y aprender Alemán en el colegio.
                    p Al igual que en inglés, esta materia te permite certificar el conocimiento aprendido en un examen 
                        a(href="https://www.buenosaires.gob.ar/educacion/idiomas/certificados-en-lenguas-extranjeras" target="_blank") CLE.
                    img(src="/public/images/stock/german.jpg" style="height: 50%; width:60%; margin-top: 10%; float: right ")
            include ../partials/footer