<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/layout.css">
    <link rel="stylesheet" href="../../public/css/all.min.css"/>
</head>
<body>
  <main data-barba="container" data-barba-namespace="proyectos-extracurriculares">
    <div class="title-bi">
      <h1>Proyectos Extracurriculares</h1>
    </div>
  <div class="wrapper-galeria">
    <nav>
      <div class="items-galeria">
        <span class="item-galeria active-galeria" data-name="all">Todos</span>
        <span class="item-galeria" data-name="ted">Ted</span>
        <span class="item-galeria" data-name="onu">Modelo ONU</span>
        <span class="item-galeria" data-name="factura">Mi Factura Por favor</span>
      </div>
    </nav>
    <!-- filter Images -->
    <div class="galeria">
      <div class="image-galeria" data-name="ted"><span><img src="../../images-galeria/bag-1.jpg" alt=""></span></div>
      <div class="image-galeria" data-name="headphone"><span><img src="../../images-galeria/headphone-1.jpg" alt=""></span></div>
      <div class="image-galeria" data-name="camera"><span><img src="../../images-galeria/camera-1.jpg" alt=""></span></div>
      <div class="image-galeria" data-name="onu"><span><img src="../../images-galeria/shoe-1.jpg" alt=""></span></div>
      <div class="image-galeria" data-name="headphone"><span><img src="../../images-galeria/headphone-2.jpg" alt=""></span></div>
      <div class="image-galeria" data-name="factura"><span><img src="../../images-galeria/watch-1.jpg" alt=""></span></div>
      <div class="image-galeria" data-name="onu"><span><img src="../../images-galeria/shoe-2.jpg" alt=""></span></div>
      <div class="image-galeria" data-name="camera"><span><img src="../../images-galeria/camera-2.jpg" alt=""></span></div>
    </div>
  </div>
  <!-- fullscreen img preview box -->
  <div class="preview-box-galeria">
    <div class="details-galeria">
      <span class="title-galeria">Image Category: <p></p></span>
      <span class="icon-galeria fas fa-times"></span>
    </div>
    <div class="image-box-galeria"><img src="" alt=""></div>
  </div>
  <div class="shadow-galeria"></div>
</main>

  <script src="../../public/js/galeria.js"></script>

</body>
</html>