extends ../layout.jade
block contenido
  link(rel='stylesheet' href='../public/css/all.min.css')
  body
    main(data-barba='container' data-barba-namespace='proyextra')
      .title-bi
        h1 Proyectos Extracurriculares
      section.section-galeria
        .container-galeria
          .left-galeria.imagen1-galeria
          .right-galeria
            .content-galeria
              h1(style='font-size: 35px;') Modelo ONU
              p Participamos anualmente en el proyecto. Se busca representar el funcionamiento de las Naciones Unidas mediante la representación de los países en ese organismo internacional.
        .container-galeria
          .left-galeria.imagen2-galeria
          .right-galeria
            .content-galeria
              h1 TedEd
              p Nuestra escuela posee un club TED y pertenece a la comunidad TED Ed. Además participó en TED Ed Río de la Plata.
        .container-galeria
          .left-galeria.imagen3-galeria
          .right-galeria
            .content-galeria
              h1(style='font-size: 34px;') Hackathon
              p Anualmente concursamos de una competencia donde ponemos aprueba los conocimientos adquiridos en situaciones de la vida real. 
                a(href="https://www.buenosaires.gob.ar/educacion/escuelas/planeamiento-educativo/hackaton-desafios-cientificos").readMore-link Leer mas
        .container-galeria
          .left-galeria.imagen4-galeria
          .right-galeria
            .content-galeria
              h1 Radio ET24
              p Contamos con nuestra propia radio, donde a través de Instagram transmitimos distintos actos y eventos.
        .container-galeria
          .left-galeria.imagen5-galeria
          .right-galeria
            .content-galeria
              h1(style='font-size: 34px;') Mi factura Por Favor
              p Es un concurso sobre educación tributaria, que apunta a generar conciencia como contribuyente.
        .container-galeria
          .left-galeria.imagen6-galeria
          .right-galeria
            .content-galeria
              h1(style='font-size: 34px;') Atletismo
              p Campeonato distintas disciplinas físicas como carreras individuales, con posta, saltos y similares.
        .container-galeria
          .left-galeria.imagen7-galeria
          .right-galeria
            .content-galeria
              h1(style='font-size: 34px;') ESI
              p Desarrollamos actividades para aprender sobre la sexualidad en todos sus ámbitos. 
                a(href="https://www.buenosaires.gob.ar/educacion/docentes/curriculum/educacionsexual" target="_black").readMore-link Leer mas
        .container-galeria
          .left-galeria.imagen8-galeria
          .right-galeria
            .content-galeria
              h1(style='font-size: 34px;') Olimpiadas
              p Competimos en distintos ámbitos como matemática, filosofía, programación, entre otros
        .container-galeria
          .left-galeria.imagen9-galeria
          .right-galeria
            .content-galeria
              h1(style='font-size: 34px;') Entropía
              p Durante el último año ofrecemos la posibilidad de cursar el preingreso a la UTN
      include ../partials/footer
    script(src='../../public/js/galeria.js')