<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>E.T. 24 D.E. 17</title>
    <link rel="stylesheet" href="/../public/css/layout.css" attr>
    <link rel="stylesheet" href="/../public/css/responsiveness.css" attr>
    <link href="https://fonts.googleapis.com/css2?family=Alata&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;700;800&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&amp;family=Open+Sans:wght@600&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&amp;display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/../public/css/style-footer.css">
    <link rel="stylesheet" href="/../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="shortcut icon" type="image/png" href="/../public/images/Logo_chikito.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
        integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a2b3ccd4c2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body data-barba="wrapper" class="body-proy">
    <div class="page-transition"><img src="/../public/images/logo1.png" alt="logo">
        <ul class="rows-c">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="navigation-wrapper">
        <header>
            <div class="logo"><a href="/" class="nav-link"><img src="/../public/images/logo1.png" alt="logo"></a></div>
            <nav class="main-navigation"><a href="/" class="nav-link c-link">Inicio</a>
                <div class="dropdown"><span class="nav-link c-link">Institucional <i
                            class="fas fa-chevron-down"></i></span>
                    <div class="dropdown-content">
                        <div class="op-layer"></div>
                        <div class="dropdown-bg"></div>
                        <div class="dropdown-nav-links">
                            <div class="sub-dropdown"><a href="javascript:void(0)"
                                    class="nav-link c-link">Especialidades</a>
                                <div class="dropdown-nav-links sub-dropdown-content"><a
                                        href="/institucional/especialidades/computacion"
                                        class="nav-link c-link">Computación</a><a
                                        href="/institucional/especialidades/ade" class="nav-link c-link">Administración
                                        de Empresas</a></div>
                            </div><a href="/institucional/proyectos-escolares" class="nav-link c-link">Proyectos
                                Escolares</a><a href="/institucional/equipo-docente" class="nav-link c-link">Equipo
                                Docente</a><a href="/institucional/regimen-evaluacion" class="nav-link c-link">Régimen
                                de Evaluación</a><a href="/institucional/bi" class="nav-link c-link">Bachillerato
                                Internacional</a>
                        </div>
                    </div>
                </div><a href="javascript:void(0)" target="_blank" class="nav-link c-link">Administrador de Turnos</a><a
                    href="http://et24de17-caba.edu.ar/moodle30/" target="_blank" class="nav-link">Plataforma Virtual</a>
            </nav>
            <div class="btns-container"><span class="nav-link show-menu-btn"><i class="fas fa-bars"></i></span><span
                    class="nav-link contact-btn"><i class="fas fa-envelope"></i></span><a href="/users/login"
                    class="nav-link sign-btn"><i class="fas fa-sign-in-alt"></i></a></div>
        </header>
        <nav class="res-navigation">
            <div class="nav-layer"></div>
            <div class="nav-main">
                <div class="nav-c">
                    <div class="nav-content-layout"><a href="/" class="nav-link c-link">Inicio</a><a
                            href="javascript:void(0)" class="nav-link sub-nav-p">Institucional</a>
                        <div class="sub-nav-links"><a href="javascript:void(0)"
                                class="nav-link sub-nav-p">Especialidades</a>
                            <div class="sub-nav-links"><a href="/institucional/especialidades/computacion"
                                    class="nav-link c-link">Computación</a><a href="/institucional/especialidades/ade"
                                    class="nav-link c-link">Administración de Empresas</a></div><a
                                href="/institucional/proyectos-escolares" class="nav-link c-link">Proyectos
                                Escolares</a><a href="/institucional/equipo-docente" class="nav-link c-link">Equipo
                                Docente</a><a href="/institucional/regimen-evaluacion" class="nav-link c-link">Régimen
                                de Evaluación</a><a href="/institucional/bi" class="nav-link c-link">Bachillerato
                                Internacional</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <aside class="contact">
        <div class="layer"></div>
        <div class="contact-content">
            <div class="close-ct"><i class="close-btn fas fa-times-circle"></i></div>
            <h1>CONTACTANOS</h1>
            <p>Estaremos encantados de poder ayudarte</p>
            <div class="sm-links">
                <div class="sm-limk"><a href="javascript:void(0)"><i class="fas fa-phone-alt"></i> +54 11 4055-2245</a>
                </div>
                <div class="sm-limk"><a href="mailto:et24-defbsas@gmail.com"><i class="far fa-envelope-open"></i>
                        et24-defbsas@gmail.com</a></div>
                <div class="sm-limk"><a href="https://instagram.com/periodico.escolar.et24?igshid=1ecfs4bgj1twm"
                        target="_blank"><i class="fab fa-instagram"></i> Periódico Escolar ET N°24</a></div>
                <div class="sm-limk"><a
                        href="https://www.facebook.com/Peri%C3%B3dico-Escolar-ET-N%C2%BA-24-1607076049519806/"
                        target="_blank"><i class="fab fa-facebook-f"></i> Periódico Escolar ET N°24</a></div>
            </div><iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13136.359323944864!2d-58.4957791!3d-34.6018899!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4f587acd9ac33fe6!2sEt24!5e0!3m2!1ses-419!2sar!4v1603147338605!5m2!1ses-419!2sar"
                frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            <div class="form-container container-content hlf-width">
                <h3 class="p-title">Envianos un mensaje</h3>
                <div class="errors"></div>
                <form id="send-msg">
                    <div class="input-row">
                        <div class="lb-input"> <label for="email">Email</label></div><input type="email" id="email"
                            name="email" required>
                    </div>
                    <div class="input-row">
                        <div class="lb-input"> <label for="subject">Asunto</label></div><input type="text" id="subject"
                            name="subject" required>
                    </div>
                    <div class="input-row">
                        <div class="lb-input"> <label for="message">Mensaje</label></div><textarea name="message"
                            id="message" rows="5" required></textarea>
                    </div><button type="submit" class="btn">Enviar </button>
                </form>
            </div>
        </div>
    </aside>
    <!-- Copiar a partir de acui -->
    <main data-barba="container" data-barba-namespace="proy">
        <div class="proy-titulo">
            <h1>Proyectos Escolares</h1>
        </div>
        <div class="container-content ttl-width p-layout proyectos-escolares">
            <h2>Los proyectos que se desarrollan son:</h2>
                <ul class="tab">
                    <li>Trabajo integrador en 4to año de Ciencias Sociales (asignaturas involucradas Historia de la Industria y el Comercio, Geografía Argentina, Instruccion Cívica y Literatura)</li>
                    <li>Trabajo integrador en 5to año del área jurídica-contable (asignaturas involucradas Sistemas Administrativos Contables, Contabilidad, Derecho Comercial y administrativo)</li>
                    <li>Trabajo integrador en 6to año de Empresa de producción Simulada donde intervienen todas las asignaturas que componen el plan de estudio de 6to. Año ADE con excepción de Ingles Técnico y Educación Física</li>
                    <li>Diseños de páginas Web en Laboratorio para  Cuarto Año del Ciclo Superior de Computación</li>
                    <li>Análisis y armado de un circuito probador de cables de red  en la asignatura  Técnicas Digitales II para Quinto Año del Ciclo Superior de Computación</li>
                    <li>Armado y configuración de redes en la asignatura Sistemas y procesamiento de Datos II  para Quinto Año del Ciclo Superior de Computación</li>
                    <li>Proyecto final que incluye el análisis, diseño y programación de una aplicación comercial con la participación de las asignaturas Programación III, Laboratorio, Análisis de Sistemas e Investigación Operativa.</li>
                </ul>
                <h2>Tutorías para alumnos de Tercer Año y Ciclo Superior de ambas especialidades</h2>
                <p>
                    En el marco del Proyecto Participativo Institucional este Proyecto constituye una modalidad de
                    relación pedagógica e institucional y se propone crear condiciones que apoyen y faciliten la
                    experiencia escolar de los educandos y los orienten para favorecer decisiones reflexivas, autónomas
                    y críticas indiferentes marcos de su vida escolar y social. La propuesta reconoce como dimensiones
                    fundamentales la académica y la interacción social, tanto a nivel individual como grupal y su
                    propósito es no sólo atender las situaciones problemáticas sino también diseñar estrategias
                    preventivas y analizar la escolaridad integrando los logro y aspectos positivos que contribuyan al
                    fortalecimiento de las posibilidades de crecimiento, desarrollo y aprendizaje de los alumnos. La
                    finalidad del Proyecto es contribuir al sostén, el seguimiento y la orientación individual y grupal
                    de los alumnos en los procesos vinculados con sus aprendizajes e inserción social significativa.
                </p>
                <p class="tab" style="font-weight: bold;">Los objetivos son:</p>
                <ul class="tab">
                    <li>Acompañar los logros, los problemas y los desafíos que se les presentan a los alumnos en su trayectoria escolar.</li>
                    <li>Realizar el seguimiento del rendimiento académico y los aprendizajes</li>
                    <li>Proponer enfoques y estrategias para apoyar el estudio y el aprendizaje</li>
                    <li>Favorecer la integración grupal y la inclusión y participación individual y colectiva de los alumnos en la vida institucional.</li>
                    <li>Orientar en la elección y la toma de decisiones relacionadas con el futuro educativo y laboral de los alumnos</li>
                </ul>
                <h2>Iniciativa en contra de los principales problemas escolares</h2>
                <h3>Los principales problemas/desafíos a los que nos enfrentamos en el presente ciclo lectivo son:</h3>
                <ul>
                    <li>La necesidad de mejorar la calidad de los aprendizajes. El marco disciplinario y compartimentado que
                        presenta la escuela en el nivel medio hace indispensable reforzar el trabajo interdisciplinario,
                        inter-areal o transversal mediante proyectos pedagógicos que impliquen el agrupamiento de distintas
                        unidades curriculares.</li>
                    <li>La carencia de factores motivadores para el alumnado a la hora de elegir entre las especialidades de
                        la escuela. Es de nuestro menester fortalecer el Taller como eje troncal de la formación técnica y
                        atractivo curricular esencial de la misma.</li>
                    <li>Las escasas interacciones que el nivel educativo medio actual ofrece en relación con las demandas
                        sociales y los sectores productivos. Nuestra escuela, a pesar de ser de modalidad técnica, no ha
                        quedado al margen de esta problemática que se viene manifestando desde hace décadas y por tal razón
                        es indispensable propiciar y profundizar los vínculos que mantiene con su comunidad y con el sector
                        productivo.</li>
                </ul>
                <h3>Líneas de acción contra el problema:</h3>
                <ol>
                    <li>Instaurar una revisión permanente de nuestras prácticas pedagógicas</li>
                    <p class="tab">Podemos establecer como principales ejes conductores los siguientes:
                        <ul class="tab">
                            <li>Afianzar la articulación de los contenidos al interior de las distintas unidades
                                curriculares, ya que tras las sucesivas modificaciones curriculares que hemos ido
                                experimentando es necesario revisar la coherencia y cohesión de los programas. La
                                elaboración del PCI nos ha facilitado mucho este proceso el ciclo lectivo pasado.</li>
                            <li>Profundizar los acuerdos docentes respectos a los propósitos de enseñanza, los objetivos,
                                recursos didácticos y criterios de evaluación de las distintas unidades curriculares. La
                                elaboración del PCI también nos ha facilitado mucho este proceso el ciclo lectivo pasado.
                            </li>
                            <li>Avanzar en la inclusión de las temáticas transversales en las planificaciones anuales de las
                                asignaturas: ESI, Consumo problemático de sustancias y Educación Digital. En este sentido,
                                en el actual ciclo lectivo hemos incorporado contenidos de estas temáticas obligatorias en
                                nuestras planificaciones en la medida de lo posible y sin que esta recomendación derive en
                                una cuestión epistémica forzada.</li>
                            <li>Profundizar la integración inter-áreas a partir de la inclusión de las temáticas
                                transversales que hemos mencionado anteriormente, pero también en el planteo de proyectos
                                institucionales que permitan dicha integración y participación de toda la escuela. A tal
                                fin, continuaremos con la propuesta del tópico “Movilidad Sustentable y Uso del Espacio
                                Público” (Educación y Seguridad Vial) como línea de definición institucional especialmente
                                para el Primer Ciclo, para que éste sirva para articular e integrar acciones pedagógicas y
                                las planificaciones curriculares.</li>
                        </ul>
                    </p>
                    <li>Propiciar la redefinición institucional a partir de la instauración del Taller como unidad
                        curricular central en la búsqueda de transversalidad pedagógica, y como un saber hacer que propicia
                        la re-vinculación de la escuela con la comunidad y el sector productivo.
                        <br>
                        Especificando más cabalmente el campo de interés y de acción del futuro egresado podremos adecuar su perfil a las
                        demandas del mercado laboral y de los estudios superiores, y generamos un mayor interés en el ingresante.
                    </li>
                    <li>Estrechar la relación de la escuela con la comunidad barrial a la que pertenece y con el sector
                        productivo e instituciones zonales, jurisdiccionales y nacionales.</li>
                </ol>
            <div class="final">
                <h1>Modificaciones y nuevas adicciones a las especialidades</h1>
                <p>Hemos estado realizando diversas modificaciones respecto de las especialidades de nuestra escuela,
                incluso la apertura de la especialidad Computación en el diurno; y respecto a la posibilidad de tornar
                más atractiva la especialidad de Gestión y Administración, su redefinición orientando su currículo hacia
                el sector gastronómico (empresarial y sindical) puede conllevar a un mayor provecho institucional y a la
                ocasión para vincular a la escuela con distintos estamentos gubernamentales, sociales y comerciales, que
                permitan una mejora en su adecuación al contexto.</p>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container-footer">
          <div class="row-footer">
            <div class="footer-col">
              <div class="primera">
                <h4>E.T.N°24 D.E.17</h4>
                <div class="descripcion"><a>Más de 70 años guiando a las futuras generaciones, buscando crear mejores personas y asegurando su futuro.</a></div>
              </div>
            </div>
            <div class="footer-col">
              <div class="columna1">
                <h4>Programadores</h4>
                <ul class="ul-footer">
                  <li><a>Gimenéz Lucas Matias</a></li>
                  <li><a>Alfonso Dante</a></li>
                  <li><a>Lucas González</a></li>
                  <li><a>Denis Luna</a></li>
                  <li><a>Lucas De La Pina</a></li>
                </ul>
              </div>
            </div>
            <div class="footer-col">
              <div class="columna2">
                <h4>Diseñadores</h4>
                <ul class="ul-footer">
                  <li><a>Sanchéz Germán</a></li>
                  <li><a>García Matias</a></li>
                  <li><a>Victor Paredes</a></li>
                  <!-- <li><a href="#"></a></li>-->
                </ul>
              </div>
            </div>
            <div class="footer-col">
              <div class="columna3">
                <h4>Líderes y Documentadores</h4>
                <ul class="ul-footer">
                  <li><a>Santiago Betancort</a></li>
                  <li><a>Thiago Montenegro</a></li>
                  <li><a>Victor Paredes</a></li>
                  <!-- <li><a href="#"></a></li>-->
                </ul>
              </div>
            </div>
            <div class="footer-col footer-redes">
              <div class="columna-redes">
                <h4>Redes</h4>
                <div class="social-links">
                  <ul class="ul-footer">
                    <li><a href="https://www.facebook.com/ET-Nº-24-84991834162" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="mailto:et24-defbsas@gmail.com" class="gmail"><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a href="https://www.instagram.com/proyectoset24/" class="ig"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://discord.gg/xASe67r" class="discord"><i class="fab fa-discord"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="inferior">
        <p class="derechos">2021 Copyright © Derechos reservados Escuela Técnica N°24 D.E.17 "Defensa de Buenos Aires"</p>
      </div>
      <!-- Hasta acui -->
</body>
<script defer src="https://unpkg.com/@barba/router" integrity="" crossorigin="anonymous"></script>
<script defer src="https://unpkg.com/@barba/core" integrity="" crossorigin="anonymous"></script>
<script defer src="/../public/js/pageTransition.js"></script>
<script src="/../public/js/header.js"></script>
<script src="/../public/js/g-scripts/project.js"></script>

</html>