extends ../layout.jade
block contenido
  main(data-barba="container" data-barba-namespace="proy")
    .title-bi
      h1 Proyectos Escolares
    .container-content.ttl-width.p-layout
      h1 Iniciativa en contra de los principales problemas escolares
      h3 Los principales problemas/desafíos a los que nos enfrentamos en el presente ciclo lectivo son:
      ul
        li La necesidad de mejorar la calidad de los aprendizajes. El marco disciplinario y compartimentado que presenta la escuela en el nivel medio hace indispensable reforzar el trabajo interdisciplinario, inter-areal o transversal mediante proyectos pedagógicos que impliquen el agrupamiento de distintas unidades curriculares.
        li La carencia de factores motivadores para el alumnado a la hora de elegir entre las especialidades de la escuela. Es de nuestro menester fortalecer el Taller como eje troncal de la formación técnica y atractivo curricular esencial de la misma.
        li Las escasas interacciones que el nivel educativo medio actual ofrece en relación con las demandas sociales y los sectores productivos. Nuestra escuela, a pesar de ser de modalidad técnica, no ha quedado al margen de esta problemática que se viene manifestando desde hace décadas y por tal razón es indispensable propiciar y profundizar los vínculos que mantiene con su comunidad y con el sector productivo.
      
      h3 Líneas de acción contra el problema:
      ol
        li Instaurar una revisión permanente de nuestras prácticas pedagógicas
        p Podemos establecer como principales ejes conductores los siguientes:
          ul
            li Afianzar la articulación de los contenidos al interior de las distintas unidades curriculares, ya que tras las sucesivas modificaciones curriculares que hemos ido experimentando es necesario revisar la coherencia y cohesión de los programas. La elaboración del PCI nos ha facilitado mucho este proceso el ciclo lectivo pasado.
            li Profundizar los acuerdos docentes respectos a los propósitos de enseñanza, los objetivos, recursos didácticos y criterios de evaluación de las distintas unidades curriculares. La elaboración del PCI también nos ha facilitado mucho este proceso el ciclo lectivo pasado.
            li Avanzar en la inclusión de las temáticas transversales en las planificaciones anuales de las asignaturas: ESI, Consumo problemático de sustancias y Educación Digital. En este sentido, en el actual ciclo lectivo hemos incorporado contenidos de estas temáticas obligatorias en nuestras planificaciones en la medida de lo posible y sin que esta recomendación derive en una cuestión epistémica forzada.
            li Profundizar la integración inter-áreas a partir de la inclusión de las temáticas transversales que hemos mencionado anteriormente, pero también en el planteo de proyectos institucionales que permitan dicha integración y participación de toda la escuela. A tal fin, continuaremos con la propuesta del tópico “Movilidad Sustentable y Uso del Espacio Público” (Educación y Seguridad Vial) como línea de definición institucional especialmente para el Primer Ciclo, para que éste sirva para articular e integrar acciones pedagógicas y las planificaciones curriculares.
        li Propiciar la redefinición institucional a partir de la instauración del Taller como unidad curricular central en la búsqueda de transversalidad pedagógica, y como un saber hacer que propicia la re-vinculación de la escuela con la comunidad y el sector productivo.
          p Especificando más cabalmente el campo de interés y de acción del futuro egresado podremos adecuar su perfil a las demandas del mercado laboral y de los estudios superiores, y generamos un mayor interés en el ingresante.
        li Estrechar la relación de la escuela con la comunidad barrial a la que pertenece y con el sector productivo e instituciones zonales, jurisdiccionales y nacionales.
      
      h1 Modificaciones y nuevas adicciones a las especialidades
      p Hemos estado realizando diversas modificaciones respecto de las especialidades de nuestra escuela, incluso la apertura de la especialidad Computación en el diurno; y respecto a la posibilidad de tornar más atractiva la especialidad de Gestión y Administración, su redefinición orientando su currículo hacia el sector gastronómico (empresarial y sindical) puede conllevar a un mayor provecho institucional y a la ocasión para vincular a la escuela con distintos estamentos gubernamentales, sociales y comerciales, que permitan una mejora en su adecuación al contexto.
      //- for group in groups
        .p-section
          h2.p-title #{group.groupTitle}
          .p-container
            for project in group.associatedProjects
              -let projectContent = project.html? project.html : '<p class="info-msg">No hay información al respecto.<i class="far fa-frown"></i></p>'
              .p-list-item
                .p-item-title
                  span #{project.title}.
                  i.fas.fa-times-circle
                  i.fas.fa-minus-circle
                .list-item-container
                  .item-content
                    :verbatim
                      !{projectContent}
    
