extends ../layout.jade
block contenido
  main(data-barba="container" data-barba-namespace="reg")
    .container-content
      h1.p-title Nuestro régimen de evaluación
      .cards-container.esp-layout 
        .container-content.hlf-width
          img.svg(src="../../public/svg/reg.svg")
        .container-content.hlf-width
          p En el marco de la Resolución 11.684/11, el Ministerio de Educación de la Ciudad aprobó modificaciones a la “extensión formal” del Ciclo Lectivo implementando un nuevo régimen de evaluación que va de marzo a marzo de cada año.
          p La mencionada resolución ministerial establece que a partir de la finalización de las clases regulares, y hasta la finalización del ciclo lectivo (en marzo del próximo año), y respetando el receso vacacional, el alumno debe continuar asistiendo a las clases de las asignaturas que no ha aprobado durante la cursada, y lo hará hasta el momento en que el docente considere que alcanzó los aprendizajes priorizados.  La nota mínima para la aprobación será de 6 (seis) puntos, pudiendo el alumno   promocionar el año con dos o menos asignaturas no aprobadas (previas).
          p Los alumnos pueden aprobar la materia a diciembre, por lo cual no deben asistir en febrero-marzo a clases de apoyo y evaluación continua.
          p Los alumnos que no acrediten los aprendizajes priorizados y/o no hubieran completado la totalidad del proceso previamente diseñado, retomarán el trabajo en el mes de febrero, con la misma modalidad de cursada.
          p En síntesis, si su hijo no ha aprobado algunas asignaturas a diciembre, es obligatorio que siga asistiendo en diciembre en el horario de dichas asignaturas hasta finalizar el período escolar o hasta que el docente considera que ha aprobado.
