extends ../../layout.jade
block contenido
  main(data-barba="container" data-barba-namespace="ade")
    //- .img-especialidad
      //- img(src="../../public/images/gabinete.jpg", alt="Computadoras")
    .container-content
      h1.p-title Gestión y Administración de las Organizaciones
      .cards-container.esp-layout
        .container-content.hlf-width
          img.svg(src="../../public/svg/ad.svg")
        .container-content.hlf-width
          h1.p-title ¿En qué consiste?
          p  La administración de empresas es la disciplina de gestión eficiente y dinámica de los recursos de una institución empresarial para lograr y mantener la sostenibilidad de su crecimiento. Es una disciplina transversal que prepara a sus estudiantes para el manejo y compresión de las situaciones administrativas, financieras, económicas y laborales.
          span.contact-btn.c-btn Consultar
      .cards-container.esp-layout
        .container-content.hlf-width
          .p-section
            h1.p-title Proyectos Relacionados
            .p-container
              .p-list-item  
                .p-item-title
                  span Trabajo Final Integrador de Administración de Empresas.
                  i.fas.fa-times-circle
                  i.fas.fa-minus-circle
                .list-item-container
                  .item-content
                    p.info-msg No hay información al respecto.#[i.far.fa-frown]
          a.c-btn.py-btn(href="/institucional/proyectos-escolares") Ver más
        .container-content.hlf-width
          img.svg(src="../../public/svg/proyectos.svg")
      .container-content.ttl-width
        h1.p-title Objetivos
        ul
          li Comprender la necesidad de un aporte efectivo, teórico y práctico, para la organización de la empresa en el aspecto legal-económico y en lo referido a las relaciones humanas.
          li Conocer, razonar y aplicar las normas contables vigentes.
          li Aplicar los conocimientos contables, matemáticos, financieros y el uso de herramientas informáticas en procesos administrativos simples.
          li Desarrollar la capacidad de análisis que permita la generación y evaluación de alternativas, la toma de decisiones y aplicación de criterios para la resolución de situaciones problemáticas.
          li Valorar el lenguaje técnico como modo de expresión general.
          li Crear hábitos de trabajo ordenado.
          li Valorar el cuidado de los materiales, instrumentos y espacios de trabajo.
          li Comprender la lógica institucional y las técnicas de gestión encuadradas en el marco jurídico-normativo.
          li Manifestar actitudes solidarias, de participación responsable, de respeto por el pensamiento ajeno y de disposición para el trabajo en equipo y para el acuerdo y aceptación de las normas dentro de la institución.
