extends ../../layout.jade
block contenido
  main(data-barba="container" data-barba-namespace="programacion")
    //- .img-especialidad
      //- img(src="../../public/images/gabinete.jpg", alt="Computadoras")
    .container-content
      h1.p-title Informática Profesional y Personal en Programación
      .cards-container.esp-layout
        .container-content.hlf-width
          img.image(src="../../public/images/props/dron.webp")
        .container-content.hlf-width
          h1.p-title ¿En qué consiste?
          p Con esta especialidad, el alumno o la alumna se adentrará en el mundo de la tecnología, al mundo del mañana, enseñándoles desde lo más básico (pseudolenguajes de programación, manejo de variables, condicionales básico, entre otros) hasta lo más profesional (programación orientada a objetos, robotica, análisis de sistemas, entre otros)
          span.contact-btn.c-btn Consultar
      .cards-container.esp-layout
        .container-content.hlf-width
          .p-section
            h1.p-title Proyectos Relacionados
            .p-container
              .p-list-item
                .p-item-title
                  span Proyecto Integrador Final.
                  i.fas.fa-times-circle
                  i.fas.fa-minus-circle
                .list-item-container
                  .item-content
                    p Proyecto en el cuál se incluyen todos los conocimientos adquiridos a lo largo de la escuela, para utilizarlos en la materia "Prácticas profesionalizantes".
              .p-list-item
                .p-item-title
                  span Proyecto Integrador de Asignatura Taller – Primer Ciclo.
                  i.fas.fa-times-circle
                  i.fas.fa-minus-circle
                .list-item-container
                  .item-content
                    p Proyecto que engloba el diseño y la producción de un producto.
              .p-list-item  
                .p-item-title
                  span Proyecto Integrador de Asignatura Taller – Segundo Ciclo.
                  i.fas.fa-times-circle
                  i.fas.fa-minus-circle
                .list-item-container
                  .item-content
                    p Proyectos que integran los conocimientos y los combina para su uso con "Arduino".
        .container-content.hlf-width
          .lamp
            div.containerlamp
              p Lámpara con forma de perro realizada con la impresora 3D de la escuela.
            img.image(src="../../public/images/props/perro.webp")
      .container-content.ttl-width
        h1.p-title Lenguajes que se utilizan en la carrera
          ul 
           img.image(src="../../public/images/icons/Cs.png" style="height: 25%; width:20%")
           img.image(src="../../public/images/icons/php.png" style="height: 25%; width:20%")
           img.image(src="../../public/images/icons/java.png" style="height: 25%; width:20%")
           img.image(src="../../public/images/icons/javaScript.png" style="height: 25%; width:20%")
          ul
            img.image(src="../../public/images/icons/htmlCss.png" style="height: 40%; width:35%; margin-top: 2%")
      .container-content.ttl-width
        h1.p-title Objetivos
        ul
          li Diferenciar límites y alcances del uso de la Computación en las áreas científicas, lúdicas y contables.
          li Aplicar la formación teórica recibida en la generación de software específico aplicando sus conocimientos en todas las etapas de la construcción de un sistema informático: análisis de requerimientos, diseño del sistema, verificación de los algoritmos, codificación en un lenguaje de programación, integración, testeo e implementación del sistema completo y mantenimiento del sistema funcionando.
          li Interactuar con la realidad y contribuir eficazmente en su transformación aplicando ideas y acciones creativas.
          li Evaluar, seleccionar, implementar y administrar sistemas predefinidos, comercializados como &quot;paquetes de software&quot;, a fin de brindar soluciones a los diferentes problemas con que se enfrentan las empresas.
          li Seleccionar los soportes físicos (hardware) más adecuados para la correcta implementación de los sistemas informáticos.
          li Desarrollar una actitud crítica frente a los conceptos tradicionales para motivar la necesidad de cambios y de adaptarse a ellos.
          li Utilizar criterios adecuados en la resolución de situaciones problemáticas.
          li Valorar el lenguaje técnico como modo de expresión general.
          li Crear hábitos de trabajo ordenado.
          li Valorar el cuidado de los materiales, instrumentos y espacios de trabajo.
          li Manifestar actitudes solidarias, de participación responsable, de respeto por el pensamiento ajeno y de disposición para el acuerdo y aceptación de las normas dentro de la institución.
          
